.carousel-item {
  position: relative;
  max-height: 800px;
}
.caption-carousel {
  position: absolute;
  left: 100px;
  bottom: 100px;
  color: white;
}
.footer {
  position: fixed;
  bottom: 0;
  padding: 0px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  gap: 20px;
}
